@model IEnumerable<FlashCardApp.Models.Deck>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Flashcard App</h2>
    <h4>This is a simple MVC app that allow users to create personal decks of flashcards to use as study aids</h4>
    <h4>
        Users are able to
        <ul>
            <li>Create, delete and edit decks</li>
            <li>Create, delete and edit flashcards</li>
            <li>Cycle through a deck of flashcards to study them</li>
        </ul>
    </h4>
   
</div>